body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow: hidden; */
    
  }
  /* Style for custom scrollbar (webkit browsers) */
  body::-webkit-scrollbar {
    width: 0.1em;
  }

  body::-webkit-scrollbar-thumb {
    background-color:gold; /* You can set the color to match your background */
  }
  nav {
    background-color:#a61111;;
    padding: 0px;
    padding-bottom: 1.6px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; 
    margin-right: 10%;

    
  }

  .dropdown {
    position: relative;
  }

  .dropdown button {
    background-color:#8c0000;;
    color: #ffffff;
    padding: 25px;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  .dropdown button:hover{
      background-color: #740000;;
  }

  .dropdown-data {
    display: none;
    position: absolute;
    background-color: #740000;
    min-width:250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-data{
    display: block;
  }

  .dropdown-data a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-data a:hover {
    background-color:rgb(163, 30, 30);
    text-decoration: underline;
  }
  .body1 h1{
     color: white;
     background-color: #8c0000;;
     margin-top: -0.1%;
     padding: 80px;
     text-align: center;
     border-bottom-left-radius: 50% 50px;
     border-bottom-right-radius: 50% 50px;
     padding-bottom: 35px;
  }
  .info{
    background-color:transparent;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 50px;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 0.5px solid darkred; */
    background-color:transparent;
  }
  .info1{
    background-color: #fefefe;
    padding: 10px;
    margin-right: 5%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: 2px solid rgba(255, 0, 0, 0.053);
    border-radius: 2px;
  }
  .info2{
    background-color:  #fefefe;
    padding: 10px;
    margin-right: 5%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: 2px solid rgba(255, 0, 0, 0.053);
    border-radius: 2px;
  }
  .info3{
    background-color: #fefefe;
    padding: 10px;
    margin-right: 5%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: 2px solid rgba(255, 0, 0, 0.053);
    border-radius: 2px;
  }
  footer{
    display: flex;
    grid-template-columns: 15% 60% 0%;
    padding: 80px;
        /* bottom: 20px; */
    width: 89.5%;
          /* position: absolute; */
    background-color: rgb(237, 235, 235);
          /* height: 2vh; */
    padding-top: 10px;
    color: black;
    margin-top: -9px;
  }
  .imgo{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:transparent;
  }
  .div2{
    margin-left: 4.5%;

  }
  .gmail{
    text-decoration: none;
  }
  .gmail:hover{
    text-decoration: underline;
  }
  .link{
    text-decoration: none;
  }
  .tables{
    margin-left: 35%;
    width: 30%;
    margin-top: 6%;

  }
  #log, #donate{
    padding: 8px;

  }
  .forms{
    display: flex;
  }
  .forms button a{
    margin-bottom: 50px;
    text-decoration: none;
    color: #f2f2f2;
    padding: 10px;
    background-color: #8c0000;
    border-radius: 10px;
  } 
  .forms button a:hover{
    background-color:white;
    border: 1px solid black;
    color: #8c0000;
  }
  .forms button{
    margin-left: 44%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
  }
  .dropdown button a{
    text-decoration: none;
    color: white;
  }
  .tables{
    outline: 1px solid black;
    border: no border;
    background-color: wheat;
    border-radius: 20px;
    width: 25%;
  }